h1{
    margin: 0;
    padding: 4px;
    color: orangered;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 550px;
    margin: 0;
    padding: 16px;
    border: 1px solid navy;
    color: darkorange;
}
p{
    margin: 0;
    padding-bottom: .5em;
}
img{
    float: right;
    margin: 16px;
}