
body{
    background-color:#70B8FF;
    margin-left: 5%;
    margin-right: 5%;
}
h1, h2, h3{
    color: black;
    font-family: verdama;
    text-decoration: underline;
    text-align: center;
}
#mainText{
    color: orangered;
    font-family: ariel;
    text-align: justify;
}
.fullWidthContent{
    width: 100%;
}
a{
    font-size: 20px;
}